.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}
.header__display-div {
}
.header__nav {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top:;
}
.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.buildings {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}
.building {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: pink;
  padding: 15px;
  text-align: center;
}
.bar-container {
  width: 100%;
  background-color: grey;
  color: yellow;
}
.bar {
  width: 0%;
  background-color: red;
}
.building-image {
  width: 200px;
  height: 200px;
}
.hidden {
  display: none;
}
