.buildings {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.building {
  display: flex;
  flex-direction: column;
}
.bar-container {
  width: 100%;
  background-color: grey;
}
.bar {
  width: 0%;
  background-color: red;
  color: yellow;
}
.building-image {
  width: 200px;
  height: 200px;
}
.hidden {
  display: none;
}
